{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "__DEV__": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-dangle": 0,
    "spaced-comment": 0,
    "camelcase": 0,
    "no-param-reassign": 0,
    "no-restricted-syntax": 0,
    "new-cap": [2, { "capIsNewExceptions": ["Map"] }],
    "no-underscore-dangle": 0,
    "global-require": 0,
    "no-nested-ternary": 0,
    "import/no-unresolved": [2, { ignore: ['dismissKeyboard'] }],
    "no-multiple-empty-lines": [2, { "max": 2, "maxEOF": 1 }],
    "prefer-template": 0,
    "react/prop-types": 0, //remove soon
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0
  },
  "plugins": ["react"],
}
