/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4c73e6;
  --ifm-color-primary-dark: #315ee2;
  --ifm-color-primary-darker: #2454e0;
  --ifm-color-primary-darkest: #1a43bc;
  --ifm-color-primary-light: #6788ea;
  --ifm-color-primary-lighter: #7493ec;
  --ifm-color-primary-lightest: #9db2f1;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
